- var project_home = ".."

    script(src="#{project_home}/bower_components/foundation/js/vendor/jquery.js")
    //- remove http protocol from production version
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.js")
    script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.topbar.js")
    script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.interchange.js")
    script(src="#{project_home}/bower_components/slick-carousel/slick/slick.min.js")
    //- script(src="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js")
    script(src="#{project_home}/js/first-year.js")
    //- first-year.js initializes Foundation