doctype html
- var title = "The First Year Project"
- var issue = "The Crucible Year"
- var essay = "ESSAYTITLE"
- var project_home = ".."
html(lang="en")
	head
		meta(charset="utf-8")
		title #{title}
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=yes")
		link(rel="stylesheet", href="#{project_home}/css/first-year.css")
		link(rel="stylesheet", href="#{project_home}/css/about.css")
		link(rel="icon", type="image/png", href="#{project_home}/images/favicon.ico")
		link(href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic&7CCrimson+Text:400,700,600',rel="stylesheet", type="text/css")
	
	body
		include ./navbar.jade

		.row

			.small-12.medium-10.large-offset-1.columns
			
				h1 What is the First Year Project?				
				
				.right.about-nav
					p Jump to... 
				
					ul 
						li 
							a(href="#scholars") Scholars
						li 
							a(href="#getinvolved") Get Involved
						li 	
							a(href="#contact") Contact Us

				p The First Year Project is a multi-year, non-partisan effort to: 
				
				ul
					li Examine the&nbsp;<strong>history</strong>&nbsp;and structure of presidential First Years;
					li Assess the&nbsp;<strong>policy</strong>&nbsp;opportunities and threats for our next President; and
					li <strong>Impact</strong>&nbsp;the national debate by addressing candidates, opinion leaders, and the public.
						
				#videotrailer <iframe width="560" height="315" src="https://www.youtube.com/embed/1IwgueJDnr8" frameborder="0" allowfullscreen></iframe>

				.pullquote &ldquo;You&rsquo;ve got to give it all you can that first year. Doesn&rsquo;t matter what kind of majority you come in with. You&rsquo;ve got just one year when they treat you right, and before they start worrying about themselves. &hellip;So, you&rsquo;ve got one year.&rdquo;&nbsp;- Lyndon B. Johnson, January 1965 												

				h3 Why the First Year?</h3>
				
				p Political polarization has made it harder and harder for Washington to work effectively.&nbsp; A new President&rsquo;s First Year in particular is high pressure, heated, and intense.&nbsp; It is a trial and a test&mdash;quite literally, a crucible for a new administration. &nbsp;And beyond our shores, the world takes measure of our new leaders, targeting our vulnerability as we transition. 
				
				p Yet, First Years also offer opportunities. &nbsp;Presidents can set priorities and enact great achievements &ndash; whether renewing America&rsquo;s promise at home or making historic breakthroughs on the world stage. &nbsp;All newly elected Presidents rightly claim some electoral mandate, which they will use to confirm a cabinet and advance a legislative agenda.&nbsp; Congress &ndash; at least at first &ndash; cannot appear to obstruct the newly elected leader.&nbsp; 
				
				p Still, even when controlled by the new President&rsquo;s party, Congress works on its own timetable -- not just on legislation, but also when it comes to vetting and confirming senior officials.&nbsp; And after the President&rsquo;s first year, Congressional attention turns to mid-term elections that November. &nbsp;Presidents thus have a short-term window of opportunity. 
				
				p How the next President and Congress use their First Year will test our political system. 
				
				h3 Achieving Impact: Issues, Outreach and Action</h3>
				
				p Starting in October 2015, every two months the Miller Center will release a set of short memos, on a wide range of policy and institutional topics: 
				
				ul
					li Why the First Year Matters 
					li National Security and Foreign Policy 
					li Global Economy, Trade, and Competitiveness 
					li Fiscal, Tax and Finances 
					li Opportunity and Mobility 
					li Race, Immigration, Citizenship 
					li Infrastructure 
					li Science, Technology and Values&nbsp; 
					li Broken Government 
					li Presidential Communications 
				
				p This project begins with world-class research and scholarship from Miller Center, the University of Virginia, leading scholars at top research institutions, as well as senior practitioners. The project will look through both historical and contemporary lenses. 
				
				p <strong><em>Lessons of history.&nbsp;</em></strong>Memos and essays will look back on the first year in office of presidents throughout history, focusing on successful and unsuccessful efforts to combine policy, politics, and personnel. In particular, scholars will draw from the Miller Center Oral History and Presidential Recordings programs &ndash; unique archives charting the presidency over six decades. 
				
				p <strong><em>Contemporary challenges.&nbsp;</em></strong>Memos also will draw on contemporary research to focus the next President on priorities for her or his First Year.&nbsp; This research will mobilize the full range of Miller Center scholars, faculty from across the University of Virginia, as well as from partner universities and organizations.&nbsp; It will engage senior alumni from Democratic and Republican administrations, and will be rigorously non-partisan, emphasizing options available to the next president, regardless of party. 
				
				p <strong><em>Reaching the next administration:&nbsp;</em></strong>The Miller Center will also to bring this work directly to the next president and his or her team. The Miller Center will remain active on each issue through the First Year, until mid-2018.&nbsp; We will seek the most propitious opportunities to connect with the presidential candidates, the new administration, and other target audiences in each issue area. That includes policymakers, media, private sector leaders, and most importantly, leading officials from contestants of both parties.&nbsp; The Center is particularly well connected to the alumni networks of previous administrations, thanks largely to our Oral History program (which has worked with every administration since the Gerald Ford White House.) We will deliver The First Year&rsquo;s canon of work to our audiences in a targeted and impactful way through various channels: 
				
				p <strong><em>Events.</em></strong>&nbsp;The memos will be released at major events held at the Miller Center and across the country. &nbsp;&nbsp;Events will begin in October 2015 and extend through 2016 and 2017. 
				
				h2#scholars Scholars
				
				p#authors The First Year Project is comprised of essays written by knowledgeable individuals in the field. 
					a.more(href="/expressionengine.php/potus/scholars") Read a full list
				
				// h3#advisory Advisory Council
				// p The First Year Project is advised by the following individuals. 
				

				h2#getinvolved Get involved with the First Year Project
				
				p The First Year offers presidents unique opportunities to set priorities, build relationships, and impress the world stage. The Miller Center at the University of Virginia will partner with former administration officials and scholars to offer recommendations, historical case studies, and policy options to the next presidential administration. 
				
				p There are several ways you can get involved:
				
				ul
					li <a href="twitter.com" class="important">Follow us on Twitter</a> or <a href="facebook.com" class="important">like us on Facebook</a> to stay up to date with First Year Project.
					li <a href="http://forms.hoosonline.virginia.edu/s/1535/16-uva/index.aspx?sid=1535&gid=16&pgid=9982&cid=17637" class="important">Sign up for email</a> to receive updates about new essays, events, and exclusive alerts. 
					li <a href="millercenter.org/donate" class="important">Donate</a> to help support the valuable work of the First Year Project. The Miller Center needs your support.
				
				h3 About the Miller Center
				
				p The Miller Center was founded in 1975 through the philanthropy of Burkett Miller. Troubled by the partisan rancor he saw developing throughout the nation, Miller envisioned a place where leaders, scholars, and the public could come together for discussion grounded in history, to find consensus solutions. The Miller Center is a nonpartisan affiliate of the University of Virginia that specializes in the presidency, public policy, and political history and strives to apply the lessons of history to the nation’s most pressing contemporary governance challenges. 
				
				h2#contact Contact Us
				
				p Have questions not answered here or want to get involved? <a href="mailto:jlc2bd@virginia.edu" class="important">Send us an email!</a>






		include ./sidebar.jade

		include ./footer.jade

		script(src="#{project_home}/bower_components/foundation/js/vendor/jquery.js")
		//- remove http protocol from production version
		script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.topbar.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.interchange.js")
		script(src="#{project_home}/bower_components/slick-carousel/slick/slick.min.js")
		//- script(src="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js")
		script(src="#{project_home}/js/first-year.js")
		script(src="#{project_home}/js/essay.js")
		//- first-year.js initializes Foundation
