doctype html
- var title = "The First Year Project"
- var issue = "The Crucible Year"
- var essay = "ESSAYTITLE"
- var project_home = ".."
html(lang="en")
	head
		meta(charset="utf-8")
		title #{title}
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=yes")
		link(rel="stylesheet", href="#{project_home}/css/first-year.css")
		link(rel="stylesheet", href="#{project_home}/css/blog-entry.css")
		link(rel="icon", type="image/png", href="#{project_home}/images/favicon.ico")
		link(href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic&7CCrimson+Text:400,700,600',rel="stylesheet", type="text/css")
	
	body
		include ./navbar.jade

		.row#blog-single-entry
					
			.small-12.medium-9.columns
				.blog-item
					h1 Infographic: Lorem ipsum dolor sit amet, consectetur adipiscing elit
					.blog-item-info
						span.date September 4, 2015
						span.author Amber Lautigar Reichert
					.media
						.media-item
							img(src='http://millercenter.org/images/blog/149px-Mfillmore.jpeg' width="435" height="268")
						.media-credit Public domain.
						.media-caption Millard Fillmore
					p
						| Nullam quis iaculis arcu. Integer a arcu in tellus tempor semper sed quis diam. Nam a purus in velit elementum cursus. Sed pretium justo ipsum. Nullam vitae dolor nec lectus lobortis luctus tincidunt eget eros. Fusce et tellus dignissim, lobortis nibh ac, ultricies tortor. Donec sed leo mi. Praesent eget auctor dui. Morbi feugiat dolor diam, eu viverra nisi elementum eget.
					p
						| Donec ultrices eros ac mauris placerat, id faucibus tortor luctus. Donec nisi augue, pulvinar id erat vel, consequat venenatis felis. Nulla libero tellus, sagittis id odio id, accumsan eleifend ligula. Integer finibus augue non mi tristique, vel luctus felis congue. Maecenas gravida, massa et facilisis pharetra, libero nisl consequat leo, ut vestibulum nibh nunc quis nulla. Quisque tempus felis erat, nec blandit elit tincidunt vel. Curabitur nec vulputate turpis. Morbi quam est, ultrices quis hendrerit et, laoreet at erat. Nam interdum tincidunt felis quis blandit. Interdum et malesuada fames ac ante ipsum primis in faucibus.
					p
						| Nunc aliquam leo a fringilla venenatis. Praesent commodo, risus sit amet mattis imperdiet, nisi augue hendrerit felis, mollis imperdiet nisi nisi ut libero. Nullam sed nisl lectus. Sed aliquet vel nisl eu feugiat. Quisque volutpat odio vitae consectetur porta. Donec viverra enim vitae vulputate fermentum. Aenean sed egestas odio. Ut mattis arcu ut arcu feugiat, sed eleifend augue vehicula. Aliquam vitae libero in lacus faucibus bibendum non vitae diam. Nam ac tincidunt dui, quis laoreet orci. In pharetra, tellus a sodales lacinia, mi lectus efficitur turpis, fringilla varius tellus odio at ante. Curabitur quam quam, aliquet at ipsum quis, ultricies eleifend odio. Fusce pulvinar turpis vitae nulla pellentesque, mattis bibendum est posuere. Proin odio metus, consequat vel nibh id, suscipit porta mi. Suspendisse vestibulum rutrum tellus sed molestie. Nam pulvinar nibh interdum elit porttitor, in lobortis purus commodo.

				ul.social-options.inline-list
					li.label Share 
					li.social-option.social-fb-icon
						a(href="http://www.facebook.com/share.php?u={url_title}" target="_blank") 
					li.social-option.social-tw-icon
						a(href="https://twitter.com/intent/tweet?text={title} - {url_title}" target="_blank") 
					li.social-option.social-linkedin-icon
						a(href="")
					li.social-option.social-mail-icon
						a(href="mailto:?body={url_title}")

			.show-for-small.small-12.columns
				.blogteaser
					p
						a.important(href="#") More from briefing room »

			.hide-for-small.medium-3.columns
				.blogteaser
					h4 More from the briefing room
					ul
						li one
						li two
						li three


		include ./sidebar.jade

		include ./footer.jade

		script(src="#{project_home}/bower_components/foundation/js/vendor/jquery.js")
		//- remove http protocol from production version
		script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.topbar.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.interchange.js")
		script(src="#{project_home}/bower_components/slick-carousel/slick/slick.min.js")
		//- script(src="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js")
		script(src="#{project_home}/js/first-year.js")
		script(src="#{project_home}/js/essay.js")
		//- first-year.js initializes Foundation
