doctype html
- var title = "The First Year Project"
- var issue = "The Crucible Year"
- var essay = "What Time Is It?"
- var project_home = ".."
html(lang="en")
	head
		meta(charset="utf-8")
		title #{title}
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=yes")
		link(rel="stylesheet", href="#{project_home}/css/first-year.css")
		link(rel="stylesheet", href="#{project_home}/css/essay.css")
		link(rel="icon", type="image/png", href="#{project_home}/images/favicon.ico")
		link(href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic&7CCrimson+Text:400,700,600',rel="stylesheet", type="text/css")
		//- adding Slick Carousel
		//- link(rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick.css")
		//- link(rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick-theme.css")
		//- line(rel="stylesheet",type="text/css",href="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css")
	
	body

	h1 Lorem ipsum

	p Lorem ipsum


footer