doctype html
- var title = "First Year 2017"
- var issue = "Why The Next Year Matters"
- var video1_url = "G9cb1WH3hEU"
- var video2_url = "VpFdNTd5UBo"
- var video1_tagline = "Why The First Year Matters"
- var video2_tagline = "The Dangerous First Year"
- var essay = "What Time Is It?"
- var issue_2_title = "The Dangerous First Year"
- var issue_2_subtitle = "Facing National Security Challenges"
- var project_home = ".."
html(lang="en")
	head
		meta(charset="utf-8")
		title #{title}
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=yes")
		link(rel="stylesheet", href="#{project_home}/css/first-year.css")
		link(rel="stylesheet", href="#{project_home}/css/home.css")
		link(rel="stylesheet", href="#{project_home}/css/hero/home.css")
		link(rel="icon", type="image/png", href="#{project_home}/images/favicon.ico")
		link(href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic&7CCrimson+Text:400,700,600',rel="stylesheet", type="text/css")
		//- adding Slick Carousel
		//- link(rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick.css")
		//- link(rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick-theme.css")
		//- line(rel="stylesheet",type="text/css",href="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css")
	
	body

		
		// Header (Topbar): Navigation Menu, Logo and Sharing Options
		include ./navbar.jade

 
		//- Hero Image Section
		.row#hero-row
			.small-12.columns.hero#issue-2-hero

				.row.news.hide-for-print
					.small-6.medium-2.small-centered.columns.hide-for-small-only.right#the-latest
						.slider#stopSlide
							.slide-viewer
								ul.slide-group
									li.label The Latest
									li.slide.current <a href="#">Lorem ipsum dolor sit amet.</a>
									li.slide <a href="#">Consectetur adipisicing elit. </a>
									li.slide <a href="#">Veniam hic beatae maiores laboriosam cum soluta</a>

				.row.hero-title
					.small-12.small-centered.medium-centered.columns#hero-title
						h2.grey.supertitle Issue 2
						span.stars &#x2605; &#x2605; &#x2605;

						h1.main-title 
							a(href="issue.html") #{issue_2_title}
							
						h3.subtitle #{issue_2_subtitle}
					.print-only
						img.print-hero-image
						

				.row.intro-nav.hide-for-print
					.small-11.small-centered.medium-10.large-8.xlarge-7.large-centered.columns
						.row
							.intro-button.small-6.columns
								a(id="explore-anchor",href="issue.html",title="Explore the essays of this issue") Explore the essays
							.intro-button.small-6.columns
								a(id="videoRevealAnchor", href="#",data-reveal-id="videoModal",title="Watch: The Critical First Year") Watch: War (Ugh) What is it Good For?

				.row#hero-navigation-row
					.subnav.small-12.medium-10.medium-offset-1.large-centered.columns#nav-tabs
						.small-3.columns.tab
							.tab-entry.released
								a#issue-1.issue-link(data-id="1",data-supertitle="Issue 1", data-title="Why the First Year Matters",data-subtitle="Six essays about the promises and pitfalls of the first 365 days in office.", data-videotitle="The Critical First Year",data-background-url="../images/heros/lg/white-house.jpg",data-video-url="#{video1_url}", href="issue.html") 1 Crucible
								p Why the First Year Matters
						.small-3.columns.tab
							.tab-entry.released.is-active
								a#issue-2.issue-link(data-id="2",data-supertitle="Issue 2", data-title="#{issue_2_title}",data-subtitle="#{issue_2_subtitle}",data-videotitle="War (Ugh) What is it Good For?",data-background-url="../images/heros/lg/hero-issue-2.jpg",data-video-url="#{video2_url}", href="issue-2.html") 2 Peril
								p Facing National Security Challenges 
						.small-3.columns.tab
							.tab-entry.unreleased
								a#issue-3.issue-link(href="#") 3 Finances
								p The Critical First Budget <br>FEBRUARY 2016
						.small-3.columns.tab
							.tab-entry.unreleased
								a#issue-4.issue-link(href="#") 4 Identity
								p Immigration and Racial Issues <br>APRIL 2016
			.small-12.columns.hero.hide.hide-for-print#issue-1-hero
			.small-12.columns.hero.hide.hide-for-print#issue-3-hero
			.small-12.columns.hero.hide.hide-for-print#issue-4-hero
		//-
		//- Video Modal (hidden at page load)
		//- 
		.reveal-modal.hide-for-print#videoModal(data-reveal,aria-labelledby="modalTitle",aria-hidden="true",role="dialog")
			h2#modalTitle #{video2_tagline}
			div.flex-video.widescreen#videotrailer <iframe width="500" height="281" src="https://www.youtube.com/embed/#{video2_url}?autoplay=0" frameborder="0" allowfullscreen></iframe>
			a.close-reveal-modal(aria-label="Close") &#215;


		//-
		//- Content
		//-
		.row
			//- content section 1/2
			.small-12.medium-8.large-7.large-offset-1.columns#featured
					.small-6.featured-item
						.media
								.media-item 
									a(href="")
										img(src="http://lorempixel.com/325/200/")
								.media-credit Photo courtesy lorem ipsum dolor sit amet
						.featured-item-text
							h3: a(href="#somewhere") Featured Item 1 lorem ipsum dolor sit amet
							p.content Lorem ipsum dolor sit amet, fermentum hendrerit eros sit amet congue. Proin eleifend vel neque laoreet ullamcorper. 

					.small-6.featured-item
						.media
								.media-item 
									a(href="")
										img(src="http://lorempixel.com/325/200/")
								.media-credit Photo courtesy dolor sit amet
						.featured-item-text
							h3 Featured Item 2
							p.content Lorem ipsum dolor sit amet, consectetur adipiscing elit.  


					.small-6.featured-item
						.media
								.media-item 
									a(href="")
										img(src="http://lorempixel.com/325/200/")
								.media-credit Photo courtesy lorem ipsum dolor sit amet
						.featured-item-text
							h3 Featured Item 3
							p.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum hendrerit eros sit amet congue. Proin eleifend vel neque laoreet ullamcorper. 


					.small-6.featured-item
						.media
								.media-item 
									a(href="")
										img(src="http://lorempixel.com/325/200/")
								.media-credit Lorem ipsum dolor sit amet
						.featured-item-text
							h3 Featured Item 4
							p.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum hendrerit eros sit amet congue laoreet ullamcorper. 

			//- content section 2/2
			.small-12.medium-4.large-3.columns#blog
					h2 Briefing Room
					.blog-item
						h4 
							a(href="zzz") Consectetur Adipiscing Elit
					
						.blog-item-info
							span.date January 1, 2016
							span.author Jeff Chidester

					.blog-item
						h4 
							a(href="xxx") Consectetur Adipiscing Elit Sed Fermentum Hendrerit Eros Sit Amet Congue
					
						.blog-item-info
							span.date January 1, 2016
							span.author Joe Biden

					.blog-item
						h4 
							a(href="ccc") Dolor sit amet?
					
						.blog-item-info
							span.date January 1, 2016
							span.author Bill Antholis

					.blog-item
						h4 
							a(href="aaa") Proin eleifend vel neque laoreet ullamcorper
					
						.blog-item-info
							span.date January 1, 2016
							span.author Amber Lautigar Reichert					

	
			.small-0.large-1.columns.spacer &nbsp;
					
		include ./sidebar.jade

		include ./footer.jade

		script(src="#{project_home}/bower_components/foundation/js/vendor/jquery.js")
		//- remove http protocol from production version
		script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.topbar.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.reveal.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.interchange.js")
		script(src="#{project_home}/bower_components/slick-carousel/slick/slick.min.js")
		//- script(src="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js")
		script(src="#{project_home}/js/first-year.js")
		//- first-year.js initializes Foundation
		script(src="#{project_home}/js/slider.js")
		script(src="#{project_home}/js/home.js")
