doctype html
- var title = "First Year 2017"
- var issue = "Why The Next Year Matters"
- var essay = "What Time Is It?"
- var project_home = ".."
html(lang="en")
	head
		meta(charset="utf-8")
		title #{title}
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=yes")
		link(rel="stylesheet", href="#{project_home}/css/first-year.css")
		link(rel="stylesheet", href="#{project_home}/css/home.css")
		link(rel="icon", type="image/png", href="#{project_home}/images/favicon.ico")
		link(href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic&7CCrimson+Text:400,700,600',rel="stylesheet", type="text/css")
		//- adding Slick Carousel
		//- link(rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick.css")
		//- link(rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick-theme.css")
		//- line(rel="stylesheet",type="text/css",href="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css")
	
	body

		
		// Header (Topbar): Navigation Menu, Logo and Sharing Options
		include ./navbar.jade

 
		//- Hero Image Section
		.row
			//- .small-12.columns
			//- 	h1
			//- 		a(href="#") LINK
			.small-12.columns.hero
				.row.news
					.small-6.medium-2.small-centered.columns.hide-for-small-only.right#the-latest
						ul
							li.label#stopSlide The Latest
							li <a href="#">Lorem ipsum dolor sit amet.</a>
							li <a href="#">Consectetur adipisicing elit. </a>
							li <a href="#">Veniam hic beatae maiores laboriosam cum soluta</a>

				.row.hero-title
					.small-12.small-centered.medium-centered.columns#hero-title
						h2 Issue 1
						span.stars &#x2605; &#x2605; &#x2605;

						h1.main-title 
							a(href="#") Why the First Year Matters
							
						p Six essays about the promises and pitfalls of the first 365 days in office.

				.row.intro-nav
					.small-11.small-centered.medium-10.large-8.xlarge-7.large-centered.columns
						.row
							.intro-button.small-6.columns
								a(href="issue.html") Explore the essays
							.intro-button.small-6.columns
								a(href="about.html") Learn about First Year 2017

				.row#hero-navigation-row
					.subnav.small-12.medium-10.medium-centered.columns
						ul.small-block-grid-4#nav-tabs
							li.tab
								.tab-entry.is-active
									a(href="#") 1 Crucible
									p Why the First Year Matters
							li.tab
								.tab-entry.unreleased
									a(href="#") 2 Power
									p National Security and World Order <br>January 2016
							li.tab
								.tab-entry.unreleased
									a(href="#") 3 Finances
									p The Critical First Budget <br>February 2016
							li.tab
								.tab-entry.unreleased
									a(href="#") 4 Identity
									p Immigration and Racial Issues <br>April 2016


		.row
			.small-12.medium-8.large-7.large-offset-1.columns#featured
					.small-6.featured-item
						.media
								.media-item 
									a(href="")
										img(src="http://lorempixel.com/325/200/")
								.media-credit Photo courtesy lorem ipsum dolor sit amet
						.featured-item-text
							h3 Featured Item 1 lorem ipsum dolor sit amet
							p.content Lorem ipsum dolor sit amet, fermentum hendrerit eros sit amet congue. Proin eleifend vel neque laoreet ullamcorper. 

					.small-6.featured-item
						.media
								.media-item 
									a(href="")
										img(src="http://lorempixel.com/325/200/")
								.media-credit Photo courtesy dolor sit amet
						.featured-item-text
							h3 Featured Item 2
							p.content Lorem ipsum dolor sit amet, consectetur adipiscing elit.  


					.small-6.featured-item
						.media
								.media-item 
									a(href="")
										img(src="http://lorempixel.com/325/200/")
								.media-credit Photo courtesy lorem ipsum dolor sit amet
						.featured-item-text
							h3 Featured Item 3
							p.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum hendrerit eros sit amet congue. Proin eleifend vel neque laoreet ullamcorper. 


					.small-6.featured-item
						.media
								.media-item 
									a(href="")
										img(src="http://lorempixel.com/325/200/")
								.media-credit Lorem ipsum dolor sit amet
						.featured-item-text
							h3 Featured Item 4
							p.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum hendrerit eros sit amet congue laoreet ullamcorper. 


			.small-12.medium-4.large-3.columns#blog
					h2 Briefing Room
					.blog-item
						h4 
							a(href="zzz") Consectetur Adipiscing Elit
					
						.blog-item-info
							span.date January 1, 2016
							span.author Jeff Chidester

					.blog-item
						h4 
							a(href="xxx") Consectetur Adipiscing Elit Sed Fermentum Hendrerit Eros Sit Amet Congue
					
						.blog-item-info
							span.date January 1, 2016
							span.author Joe Biden

					.blog-item
						h4 
							a(href="ccc") Dolor sit amet?
					
						.blog-item-info
							span.date January 1, 2016
							span.author Bill Antholis

					.blog-item
						h4 
							a(href="aaa") Proin eleifend vel neque laoreet ullamcorper
					
						.blog-item-info
							span.date January 1, 2016
							span.author Amber Lautigar Reichert					

	
			.small-0.large-1.columns.spacer &nbsp;
					
		include ./sidebar.jade

		include ./footer.jade

		script(src="#{project_home}/bower_components/foundation/js/vendor/jquery.js")
		//- remove http protocol from production version
		script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.topbar.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.reveal.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.interchange.js")
		script(src="#{project_home}/bower_components/slick-carousel/slick/slick.min.js")
		//- script(src="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js")
		script(src="#{project_home}/js/first-year.js")
		//- first-year.js initializes Foundation
		script(src="#{project_home}/js/home.js")
