doctype html
- var title = "The First Year Project"
- var issue = "The Crucible Year"
- var essay = "What Time Is It?"
- var project_home = ".."
html(lang="en")
	head
		meta(charset="utf-8")
		title #{title}
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=yes")
		link(rel="stylesheet", href="#{project_home}/css/first-year.css")
		link(rel="stylesheet", href="#{project_home}/css/essay.css")
		link(rel="icon", type="image/png", href="#{project_home}/images/favicon.ico")
		link(href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic&7CCrimson+Text:400,700,600',rel="stylesheet", type="text/css")
	
	body

	#essay
		h1 The First Year:  Avoiding Failure By Getting to Know the Government You Run
				
		p.essay-intro
			| In today’s America, the actual government a president leads is an afterthought—until it damages his or her presidency. To head off failure that can affect not just their time in office but also their permanent legacies, new presidents need to become familiar in their first year with two critical aspects of the government they inherit: what it can and cannot do, and what it does and does not know.
		p.essay-intro
			| This sounds elementary, but it is not standard procedure. The modern-day presidency is more preoccupied with communications, messaging and politics, and less with the nuts and bolts of leading an enterprise that is as large and diverse as several Fortune 500 companies put together.
		p
			| In part that’s because those closest to a new president are rock stars in politics and communications who assume that these skills can trump governing. Yet the onlookers to their ascent to power, the American people, expect presidents to show competent leadership of the enormous entity that is the federal government. When they don’t, they are judged harshly—and there is nothing the political rock stars can do about it.

		figure.right
			img(src='http://millercenter.org/images/potus/kamark-8_Paragraph5_President-vp.jpg')
			figcaption
				p In thousands of U.S. government offices around the world, a new presidential portrait will be hung after the inauguration.

		p
			| A behind-the-scenes look at the transition from one administration to the next illuminates both the scale of the bureaucracy and how the political focus takes root. While the rest of the country is digesting election results and slowing down for the holidays, a team from the Government Services Administration is working overtime to make sure that photographs of the outgoing president and vice president are removed and that official photographs of the incoming leaders are taken, reproduced and placed in 8,603 government offices in the United States, approximately 250 embassies and consulates around the world, and between 500 and 1,000 U.S. military installations around the world (depending on how you count these and whether or not we’re at war).
		p
			| On the morning after Inauguration Day, approximately 2.6 million civilians and 1.5 million military personnel report to their jobs serving the federal government. The claims adjuster at the Social Security office in Rochester, New York, the Deputy Chief of Mission in Tirana, Albania, the forest ranger at Yellowstone National Park in Wyoming, the biologist at the Centers for Disease Control in Atlanta, Georgia, the soldier stationed in Stuttgart, Germany—all of them see the same thing when they arrive: a photograph of their new boss hung prominently on the wall.
		figure.left
			img(src='http://millercenter.org/images/potus/kamark-9_Paragraph6_Marine.jpg')
			figcaption
				p A U.S. Marine waits for the president outside Marine One.
		p
			| Now let’s go over to the White House. On the morning after the inaugural festivities, a tired (and perhaps slightly hung over) president and vice president get to work. New employees surround them, most in military uniform. They open the doors, fly the helicopter, serve in the White House mess, and man the watch and the guns that sit on top of the White House. The new leaders also receive their first daily visit (as president) from a Central Intelligence Agency employee with a briefcase handcuffed to his or her wrist. This contains the President’s Daily Brief—a compilation of the most sensitive goings-on collected overtly and covertly from around the world by America’s spies.
		p
			| Yet on the first morning after the inauguration, the people most likely to talk to the new president are the same people who have been talking to him or her for the past two years: close campaign advisors. They are a tiny comfort zone for presidents coping with their overnight transformation into the boss of several million people they don’t know.
		figure.right
			img(src='http://millercenter.org/images/potus/kamark-10_Paragraph8_FederalOfficePenta.jpg')
			figcaption
				p More than 25,000 people work in the Pentagon, home to the Department of Defense. Credit: Frontpage/Shutterstock.com
		p
			| A new president is aware, intellectually, that these people are out there, but few presidents actually walk the halls of the vast federal office buildings in Washington, D.C. or anywhere else. In fact, given the size and far-flung nature of the U.S. government, this would be almost impossible. Thus, unlike a CEO, the president can’t “walk the shop floor” and get a sense of his or her team.  So firsthand experience is replaced with stereotypes. Republican presidents, beginning with Richard Nixon, have assumed that these federal workers didn’t vote for them and will try to undermine their goals of smaller government. Democratic presidents assume that these people are part of their coalition and will do what they want done. This may be true for the simple yes-no choice that is an election, but it is a gross exaggeration when it comes to the complexity of governing.
		p
			| The newly elected president is, 
			em ipso facto
			| , a master of campaigning. But this work of figuring out who all these people really are, what  they do and how to get them to do what you want—that is overwhelming. And no one around a new president is telling him or her that this is important, possibly crucial, to their first year and potentially to their entire legacy. Instead, as one campaign ends, the next one begins.
		figure.left
			img(src='http://millercenter.org/images/potus/kamark-11_Paragraph10_FDR.jpg')
			figcaption
				p President Franklin Roosevelt delivers a Fireside Chat radio broadcast.
		p
			| Ever since Franklin D. Roosevelt, considered the first media president because of radio and his mastery of it, we have tended to place high value on what presidents say and how they make us feel.  And communication is unquestionably a significant part of a president’s ability to assemble the public and political support needed to lead. But communication is not a substitute for the hard work of learning a massive bureaucracy and bending it to your will. I’m not the first person to think that modern presidents talk too much and govern too little. When the political scientist Sam Kernell published his 2006 book 
			em Going Public: New Strategies of Presidential Leadership, 
			| we saw the facts laid out: As the modern presidency evolved, presidents tended to talk more and travel more. All that time talking may, as Kernell points out, detract from time better spent negotiating and working with the government.
		figure.right
			img(src='http://millercenter.org/images/potus/FILE')
			figcaption
				p Video clip?
		p
			| And yet, the presidential addiction to talking, traveling and getting out of Washington is very firmly entrenched in the 21st century and, not surprisingly, Americans care a great deal about how well presidents do or do not communicate.  When things are going badly, friends of the president tend to complain that they are not “getting their message out.”  The problem arises when reality overtakes message. To their dismay, presidents have discovered that they can’t talk themselves out of really big failures. In 1980, a military mission to rescue the hostages taken in Iran failed spectacularly.  For President Jimmy Carter, there was no talking his way out.  In 2005 a hurricane hit New Orleans and the government response was as disastrous as Katrina.  For President George W. Bush, there was no talking his way out.  Fast forward to 2013 when the rollout of the federal health insurance website crucial to President Barack Obama’s signature accomplishment, the new Affordable Care Act, failed. Also spectacularly. There was no talking his way out of that one, either.
		p
			strong Minimizing the odds of failure
		figure.right
			img(src='http://millercenter.org/images/potus/kamark-13_Paragraph13_Katrina.jpg')
			figcaption
				p After Hurricane Katrina hit New Orleans in August 2005, the Federal Emergency Management Agency (FEMA) was unable to respond effectively to the devastation. Credit: Jocelyn Augustino/FEMA
		p So what should future presidents do in their first year to guard against the big failures that no amount of talking will fix or paper over? Mostly this topic has been ignored because the easiest way to deal with large-scale screw-ups is to label them “acts of God” that could not have been prevented. And yet, in a large, modern, and sophisticated government, a great deal is known—if you know where to look—that can help a new president better handle disasters and sometimes prevent them in the first place. It all hinges on learning what the government can do and what it knows.
		p The first challenge involves understanding organizational capacity or lack thereof in the vast entity that is the federal government. The political science literature on the presidency explores presidential decision-making in depth but stops short of the crucial challenge of implementation.  For instance, can the military actually execute a rescue mission?  In the case of Carter’s attempt to rescue the hostages, there were decades of warning signs that the military as then constituted might have a problem executing a special forces mission involving multiple branches of the military acting jointly.  In the case of Bush’s failure to rescue New Orleans after Katrina, there were many warning signs that FEMA (the Federal Emergency Management Agency) had been downgraded, subsumed into the new Department of Homeland Security (where the lines of authority were blurred), and become a dumping ground for political appointees.

		.pullquote.text-center The history of the recent presidency tells us that perceived presidential failure is often in fact a failure of the executive branch. But the public (and history for that matter) rarely differentiates between the two.

		p When Obama handed implementation of his signature health care legislation over to CMS—the Centers for Medicare and Medicaid—there were many who knew that CMS was having trouble implementing the enormous programs they already had and that a new mission was likely to stretch it to the breaking point. There were also many examples of government agencies mismanaging and failing at large-scale technology projects.
		p The second challenge involves figuring out what the government knows and making sure the president hears all of it.  During the George W. Bush administration, Vice President Dick Cheney created a system that blocked information and analysis from the intelligence establishment and from the State Department that might have made Bush think twice about the self-inflicted wound that was our invasion of Iraq.  At other times government officials fail to spot trouble until too late, and it blows up in the president’s face. This was the case when Obama discovered, to his dismay, that veterans were waiting so long for appointments at Veterans Administration facilities that some were dying before they were seen, and that some in the VA were keeping fake lists to cover up the wait times!
		p The history of the recent presidency tells us that perceived presidential failure is often in fact a failure of the executive branch. But the public (and history for that matter) rarely differentiates between the two.

		figure.left
			img(src='http://millercenter.org/images/potus/kamark-14_Paragraph18_TrumanBuck2.jpg')
			figcaption
				p Credit: Harry S. Truman Library and Museum
				
		p Thus it’s time to think about the “managerial presidency.” How can a new president begin to manage an undertaking of this size? The managerial presidency should not be interpreted to mean presidential micro-management.  There have been presidents who obsess over the schedule at the White House tennis courts (Carter) and presidents who pick bombing targets in wartime (Lyndon B. Johnson). The best kind of managerial presidency takes a larger view, encompassing the likely impact of a policy and the trials it will encounter in the implementation process in addition to the more thoroughly studied presidential ability to chart public reaction and earn congressional acceptance. Speaking about the challenges of the presidency, President Bill Clinton told an audience at the Brookings Institution in Washington D.C. in 2014, “They hire you to look down the street and around the corner.” Not at the tennis courts.
		figure.right
			img(src='http://millercenter.org/images/potus/kamark-15_Paragraph19_AdminClerks.jpg')
			figcaption
				p Social Security clerks in the 1940s. Credit: Everett Historical/Shutterstock.com
		p The problematic neglect of management stems from the fact that modern presidents find the federal government distant and ungovernable. President Harry Truman had a plaque on his desk that read “The Buck Stops Here.” Recent American presidents have stopped thinking like that. It’s understandable; the modern federal government has become vast.  As a senior staffer in the Clinton administration, my job was to “reinvent” government. In my first meeting with Clinton and Vice President Al Gore, I wanted to impress upon them the dimensions of the entity they now headed. So I told them that at that time (early 1993), there were more employees in the federal government than there were people in the state of Arkansas that Clinton had governed for more than a decade before becoming president. And there was more land under federal control than the entire state of Tennessee that Gore had represented in Congress for many years.
		p Back in the middle of the twentieth century, the federal government was both smaller and simpler. It was composed mostly of clerks who recorded Social Security payments, veteran’s benefits and other transactions.  But by the twenty-first century, those jobs were done by computers. The clerks were replaced by programmers, lawyers, doctors, molecular biologists, nuclear physicists, engineers, and other specialists. The federal government had grown so big, its functions so complex, that recent presidents have not seen it as something they could run and use to help them govern. Instead they have viewed it as foreign, and they expect it to cause trouble. Once presidents stop assuming responsibility for the government they are leading, they will be bound to fail.

		.pullquote.text-center ...[P]residents would be well served if, in their first year, they called for a systematic performance assessment from their cabinet secretaries.	What agencies are doing well? What agencies are struggling?

		p Nothing illustrates this better than the amazing changes that have taken place over the course of American history in the role of the president’s cabinet. In Abraham Lincoln’s day, being a member of the cabinet was a big deal. His cabinet, memorialized in the 2005 best-seller 
			em Team of Rivals 
			| by Doris Kearns Goodwin, helped Lincoln decide the major issues of the day—such as how to run the Civil War. However, by the time Robert Reich was appointed secretary of Labor under Clinton, the importance of the cabinet had deteriorated. “From the view of the White House staff, cabinet officials are provincial governors presiding over alien, primitive territories,” Reich wrote in a 1997 memoir of his time in the administration, 
			em Locked in the Cabinet
			| . “Anything of any importance occurs in the national palace.”
		p Most presidents have tried to stay in touch with their cabinets through a high-level official with the designation “Assistant to the President for Cabinet Affairs.”  But in recent years this has not been a very important job. At one point, Bush downgraded the role of Cabinet Affairs assistant to “a young woman with a phone in a closet,” according to a White House correspondent who covered that administration. Obama’s cabinet met only 19 times in his first term, mostly for ceremonial or meaningless photo opportunities. And in one famous incident, Obama’s chief of staff -- Rahm Emanuel -- was heard banishing the secretary of the Department of Energy, a Nobel Prize winner, to the outer circles because he didn’t stick to the message of the day.
		p
			strong Elevating management over message
		figure.right
			img(src='http://millercenter.org/images/potus/kamark-16_Paragraph23or24_CabinetMeeting.jpg')
			figcaption
				p President Reagan meets with his cabinet secretaries. Credit: U.S. National Archives and Records Administration/Ronald Reagan Presidential Library

		p And yet, it is the president’s distance from those “alien, primitive territories” run by cabinet secretaries that is at the heart of so many leadership failures. In order for new presidents to figure out their government and how to run it, they  must think differently about how they organize their White Houses, how they use their cabinets and how they spend their time.

		.essay-continues (essay continues below)
		.cta
			p Lorem ipsum donate now!
			.email-signup 
				a(href="") click to sign up

		p Let’s start with the White House.  The Office of Cabinet Affairs needs to be bigger and have a broader mission. In recent years, in keeping with presidents’ passions for communication, the White House has tended to use the cabinet to “magnify” the message.  So cabinet secretaries are sent out “on the road” to help the White House communicate. In the meantime, cabinet secretaries receive the clear message that the White House is only interested in good news from them—not bad news.  Surfacing management problems and bringing them to the attention of the White House are generally not part of a cabinet secretary’s mandate.
		p But presidents would be well served if, in their first year, they called for a systematic performance assessment from their cabinet secretaries.  What agencies are doing well? What agencies are struggling? In other words, where is the organizational capacity? All presidents need this information. Republicans like to assume that the whole darn thing is a mess and should be cut; Democrats like to assume that it all works just fine and should be expanded. In any group of organizations that collectively employs more than three million people, the law of averages tells you that things are going very right in some places and very wrong in other places at the same time. A new president would be well advised to seek out this information. A president who discovers a scandal at the Department of Veterans Affairs and fixes it, for example, is in a very different position than a president who does not seem to know what’s going on in the government he or she runs.
		figure.left.sm
			img(src='http://millercenter.org/images/potus/kamark-17_Paragraph25or26_LogoManagBudget.png')

		p The next thing a new president should do is to construct an early warning system inside the White House. The management wing of the Office of Management and Budget (OMB) was established in 1990 and since then that office has assumed many important missions within the government.  But no one in the executive branch is charged with systematically looking for management weaknesses and problems. The adoption of performance metrics through the Government Performance and Results Act was a step in the right direction and has been incorporated into the budget process internally in the White House. The problem, however, is that when an organization is in trouble, people often lie about and-or manipulate the metrics.  Building “dashboards” and tracking data are certainly valuable tools in trying to understand the performance of large organizations—but they have not stopped government failure. And used incorrectly they can build a false sense of security. There is no substitute for “walking the shop floor” talking to people and understanding the real story.

		figure.right.sm
			img(src='http://millercenter.org/images/potus/kamark-18_Paragraph27_GAOLogo.png')

		p The problem with establishing an early warning capacity at OMB is that, to the rest of the government, OMB is where budgets are cut.  And thus career people in the agencies are loath to share too much with OMB lest it result in punishment via the budget process. A performance review process separate from OMB and perhaps located in the White House, on the other hand, can help establish the early warning system that is so important to the avoidance of presidential failure.
		p What makes sense for the presidency also makes sense for Congress. Much has been written about how modern Congresses have all but given up their oversight function except when there is an emergency. Political scientists Matthew McCubbins and Thomas Schwartz wrote back in 1984 about the preference of Congress  for “fire alarm oversight” over “police-patrol oversight.” Like the White House, Congress doesn’t really have a system for anticipating trouble—its members simply react. The Government Accountability Office (GAO) and the Congressional Research Service (CRS) do research work for Congress and they often study management and-or organizational-capacity issues. However, both organizations work at the 
			em request 
			| of congressional committees, subcommittees and individual lawmakers. Their mandate doesn’t include the sort of horizon-scanning that would allow for leadership and the avoidance of failure.
		p The creation of units in the White House and in the Congress charged with evaluating governmental performance 
			em before 
			| there is a crisis fits with a new theory of governance authored by Leon Fuerth, former national security advisor to Gore. Fuerth calls this “
			a(href='http://www.wfs.org/futurist/2013-issues-futurist/july-august-2013-vol-47-no-4/anticipatory-governance-winning-future') anticipatory governance
			| .” He and co-author Evan Faber defined it in a 2013 
			em Futurist 
			| article as “a systems-based approach for enabling governance to cope with accelerating, complex forms of change. Anticipatory governance is a ’systems of systems‘ comprising a disciplined foresight-policy linkage, networked management and budgeting to mission, and feedback systems to monitor and adjust. Anticipatory governance would register and track events that are just barely visible at the event horizon; it would self-organize to deal with the unanticipated and the discontinuous…”
		p Understanding the capacities and knowledge of the U.S. federal government should be a high priority for the first year of any presidency and it should help a new president anticipate trouble and implement policy. But presidents need to make time to learn. Instead of the bifurcated and sometimes hostile relationship between the political team and the policy teams that surround the president, a chief executive needs to realize that bad government is bad politics. The long-term consequences of failure, the perception that the president does not control the government he or she runs, create a political problem that is not easily overcome. Thus the importance of striking a better balance between politicking and governing. It won’t guarantee success, but it will improve the odds.
	
	.author 
		.author-contact 
			a(href="http://twitter.com/miller_center") @miller_center
		p 
			strong About the Author
		p John Doe is lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique molestie massa, eu faucibus turpis hendrerit sed. Aliquam porttitor venenatis viverra. Nunc quis ante consequat, aliquam nunc in, elementum enim. Morbi tristique sodales ultricies. Curabitur porttitor aliquet est non hendrerit. Curabitur non justo dui. Vivamus ullamcorper massa ut arcu eleifend, id tempor sapien convallis. Quisque pulvinar libero nec mattis euismod. Proin vel mi ac nibh mattis commodo. 
			a.more(href="") more

//	#supplementary-content
		#footnotes 
			strong Footnotes
			ol
				li item 1
				li item 2
		#resources
			strong Resources
			ul
				li item 1
				li item 2

footer