doctype html
- var title = "The First Year Project"
- var issue = "The Crucible Year"
- var essay = "The Experience of Others"
- var essay_no = "3"
- var essay_title = "The Experience Of Others: Ten Lessons From Presidential Oral History"
- var project_home = ".."
html(lang="en")
	head
		meta(charset="utf-8")
		title #{title}: #{essay}
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=yes")
		link(rel="stylesheet", href="#{project_home}/css/first-year.css")
		link(rel="stylesheet", href="#{project_home}/css/essay.css")
		link(rel="stylesheet", href="#{project_home}/css/hero/issue1/essay#{essay_no}.css")
		link(rel="icon", type="image/png", href="#{project_home}/images/favicon.ico")
		link(href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic&7CCrimson+Text:400,700,600',rel="stylesheet", type="text/css")
	
	body
		include ./navbar.jade


		//- Hero Image Section
		.row#hero-row
			.small-12.columns.hero
				.row.hero-title
					.small-12.small-centered.medium-uncentered.columns#hero-title
						h2.supertitle.grey Issue 1
						span.stars &#x2605; &#x2605; &#x2605;
						h1.main-title #{essay_title}
						h3.subtitle subtitles are very important
		//- end hero

		.row.lateral-nav.hide-for-small
			.columns.small-6
				p.lateral-nav-prev <a href="brands-essay.html">Previous essay: The Promise and Peril of a President's First Year</a>
			.columns.small-6
				p.lateral-nav-next <a href="kamarck-essay.html">Next essay: Avoiding Failure By Getting To Know The Government You Run</a>

		.row.lateral-nav.show-for-small
			.columns.small-6
				p.lateral-nav-prev <a href="wehner-essay.html">Previous Essay</a>
			.columns.small-6
				p.lateral-nav-next <a href="kamarck-essay.html">Next Essay</a>


		.row
			.small-12.columns#essay
				p.byline
					a(href="#author-bio") by Mike Nelson
		
				p No previous experience fully prepares one to be president. The most important training presidents receive is on the job. But presidents and their aides can learn much about the first year from those who have gone before. What follows—drawn almost entirely from the Presidential Oral History Program of the University of Virginia’s Miller Center—are ten lessons that any new president can apply, or at least be informed by, the experience of those who already have served in one or more administrations. <sup><a href="#_edn1" name="_ednref1" title="Unless otherwise indicated, the quotations in this chapter are from the Miller Center&rsquo;s Presidential Oral History Program. The interviews are available online at http://millercenter.org/oralhistory">1</a></sup> The ten lessons are divided evenly between those that pertain to the transition and those that inform the actual presidency.
		
				h2.text-center Lessons 1-5: before January 20
						
				h4 1. Cultivate relationships with your party’s members of Congress, even if they’re not an important part of your election campaign. 
		
				p President Jimmy Carter provides an object lesson in the price for not heeding this lesson.
				
				p Jimmy Carter, president from 1977 to 1981: 
				blockquote Very few of the members of Congress, or members of the major lobbying groups, or the distinguished former Democratic leaders, had played much of a role in my election. There wasn’t that tie of campaign interrelationship that ordinarily would have occurred had I not been able to win the nomination by myself. I just didn’t have that sort of potential tie to them, and I think they felt that they were kind of on the outside.
				
				p As a result of Carter’s early detachment from Congress—which was dominated by his own party—his first-year domestic agenda faltered, as shown by his inability to secure the major legislation he wanted most, including welfare reform, tax reform, energy independence, and the repeal of a long list of public works projects dear to influential legislators. 
				
				h4 2. Choose a chief of staff who understands Washington. 
		
				figure.right
					img(src='http://millercenter.org/images/potus/nelson-1_lesson2_Troika.jpg' title='Credit: Ronald Reagan Presidential Library')
					figcaption
						p President Ronald Reagan appointed a team of advisers that mixed Californians and D.C. insiders, including James Baker, Ed Meese, and Michael Deaver. 
				
				p Necessarily, and appropriately, new presidents tend to choose loyal, battle-tested members of the campaign team for important positions on the White House staff. The range of Washington constituencies with which the chief of staff must be familiar, however, requires a unique skill set.
		
				p Michael Deaver, deputy chief of staff to President Ronald Reagan, 1981-1985: 
				blockquote Reagan did bring a lot of Californians, but in the middle of all those Californians he put someone who was the first among us who was a seasoned Washingtonian, a guy who knew his way around, [James Baker]. ... I don’t think Ronald Reagan would have been reelected if that hadn’t happened. ... He had a lot of counsel from Baker and people that Baker brought to the table who had been through other wars, who had been through fights with the Congress, who knew how to work with the Republican minority leadership and knew how you used OMB.<sup><a href="#_edn2" name="_ednref2" title="Quoted in Martha Joynt Kumar and Terry Sullivan, eds., The White House World: Transitions, Organizations, and Office Operations College Station: Texas A &amp; M University Press, 2003), 20.">2</a></sup>
		
				p In contrast with Carter, Reagan was able during his first year to match political supporters with appropriate positions in the executive branch, secure major tax cuts and defense spending increases from a Democratic House of Representatives, and use OMB to make detailed spending reductions in certain domestic and regulatory programs—all due in no small measure to Baker’s knowledge of how Washington works.
				
				h4 3. Decide what the vice president’s role is going to be—and make sure others in the administration understand that as well.
		
				figure.right
					img(src='http://millercenter.org/images/potus/nelson-2_lesson3_ClintonGore.jpg' title='Credit: The Central Intelligence Agency')
					figcaption
						p In the early days of his presidency, Bill Clinton clearly outlined Vice President Al Gore’s central role in his administration. 
		
				p The vice president’s usefulness to the president depends on a clear understanding between the two that is shared throughout the administration. And, given that six of the nine vice presidents who have succeeded to the presidency have done so in the first year of a term, it’s worth noting that the vice president needs to be prepared for that eventuality as well. 
		
		
				p Roy Neel, chief of staff to Vice President Al Gore and deputy chief of staff to President Bill Clinton, 1993-1996: 
				blockquote [During the transition, President-elect Clinton and Vice President-elect Gore agreed that] there would be a weekly lunch set aside between Gore and Clinton and it would take precedence over anything else unless there was an emergency. There would be a senior Gore staffer placed on the National Security Council, on the Economic Policy Council, the Domestic Policy Council, and so on. ... <br> <br>The most important thing was that Clinton took this one step further. We had the first Cabinet meeting the day after the inauguration. The first thing he said was ... if Gore called and talked to them, it would be the same as him. He went further down through some of the points about Gore’s senior staff, the same thing. They’re to be treated as mine, and so on and so forth. He made it abundantly clear to all of them, and that set the tone within his own staff as well. ... What made it work was that the president continued to show trust and respect for the vice president. 
		
				p As a result of Clinton’s deciding at the outset what his vice president’s role would be and his making those decisions clear to the White House staff and the rest of the administration, Gore was able to function effectively as a senior presidential advisor in all areas of public policy and as Clinton’s lead advisor on important matters such as technology policy and government reform. 
				
		
				h4 4. Cabinet members should be partners in choosing their departmental teams.
		
				p The equal and opposite error of allowing cabinet members free rein in choosing their team is to impose a team on them. Roger Altman explains how he became deputy secretary to Secretary of the Treasury Lloyd Bentsen in the Clinton administration.
		
				p Roger Altman, deputy treasury secretary, 1993-1994: 
				blockquote Bentsen had to be satisfied that this was something he wanted. It’s really a bad thing to say to a senior Cabinet officer, “Well, your deputy is—.” ... [It] just promotes disunity and so forth. So Clinton wisely determined that this was something that Bentsen ultimately had to make the call on. And Bentsen did make the call. … It’s not the right move to inform a Cabinet officer that his team is Mr. X, Miss Y, and Miss Z.
		
				p As Altman argues, consultation lies at the heart of an effective personnel strategy at the start of a new administration. Clinton succeeded by assuring that both his staff and cabinet felt ownership in important subcabinet appointments.
		
				h4 5. “Campaigning is about addition, but governing is about selection.”
				
				figure.right
					img(src='http://millercenter.org/images/potus/nelson-3_lesson5_Galston.jpg' title='Credit: Miller Center')
					figcaption
						p William Galston, deputy domestic policy advisor to President Bill Clinton, is interviewed for the Clinton Presidential History Project. 
		
				p “All of the above” is seldom on the governing menu, especially during the first year. Priorities must be set during the post-election transition period so that intelligent choices can be made.
				
				p William Galston, deputy domestic policy advisor to President Bill Clinton, 1993-1995: 
				blockquote [Franklin D. Roosevelt’s] Hundred Days, and Lyndon Johnson’s 1965-66 Great Society period are historical anomalies that no president is wise to rely on. Generally speaking, you cannot do that much. You cannot flood the zone and hope to complete very many passes. When you need to choose among elements of your agenda, make clean choices, as Bill Clinton did early in 1993, when he had to figure out whether to give the emphasis to public investment or to fiscal prudence. During the campaign he didn’t think he was going to be faced with that choice, but circumstances changed. He had to adjust. He had to adjust by making a choice.		
				
				p Clinton famously got off to a rocky start by making gays and lesbians in the military an immediate priority of his new presidency. But when it came to the most important issue on his first-year agenda—fixing the economy—Clinton made tough choices about which campaign promises to pursue (“fiscal prudence”) and which to postpone (“public investment”).
		
		
				h2.text-center Lessons 6-10: after January 20
		
				
				h4 6. Politics is part of policy, not its opposite. 
		
				figure.right
					img(src='http://millercenter.org/images/potus/nelson-4_lesson6_Rubenstein.jpg' title='Credit: Miller Center')
					figcaption
						p David Rubenstein is interviewed during the Jimmy Carter Oral History Project. He noted that President Carter had to learn to balance policy and politics. 
		
				p Politics is about persuasion, an axiom that is no less true after the election than before. 
		
				p David Rubenstein, domestic policy staff aide to President Jimmy Carter, 1977-1981: 
				blockquote Early on, he was very much, “I only want to know what the best policy is and I’ll worry about the politics of it later. You give me the best policy.” Later on those kinds of bravado statements tended to disappear and he wanted to know what he could pass, what we could get through, what did this committee chairman want, what did this interest group want.
		
				p Carter learned from experience that policy and politics are intertwined and, after his first year in office, listened hard to his congressional and interest group liaisons when shaping successful political strategies to secure approval of the Panama Canal treaty, civil service reform, and other controversial measures.
		
				h4 7. If painful decisions have to be made, make them in the first year. 
		
				p The polls that matter are not conducted in the first year. The framers granted presidents a four-year term so that the long-range consequences of their sometimes-difficult first-year measures would have time to emerge.
		
				p Altman: 
				blockquote Remember, you’re playing for four years, you’re not playing for one year. ... [O]ne of the oldest rules of presidential management is, take your pain up front. ... Nobody took more pain up front than Ronald Reagan. I mean, the worst recession since the Great Depression occurred in 1981 and 1982 and in the fall of ’82, in early August, Reagan was being described as Herbert Hoover, politically dead, gone, might as well already make his reservations back to Santa Barbara and so forth. And it turned around and by November ’84, as you remember, it was “Morning in America” and he won 49 states. That’s the way to do it.
			
				p Galston: 
				blockquote No president can be indifferent to sustained political support, but at the same time achieving sustained political support at the cost of doing what needs to be done is a hollow victory. Staff people around the president have to be worried about feeding a president’s desire for sustained high poll ratings. At some point, you have to say, “Mr. President, you’re right. You’re going to pay a price. We’re all going to pay a price. But if we don’t do this, we’ll never get another chance and the country will be the worse for it.”	
				
				p Clinton had no desire to cut federal spending and raise taxes during his first year in office. Nor did Reagan welcome the deep recession of 1981-1982. But they chose to act in confidence (justified, as it turned out) that their policies would help get the economy in strong shape by the time they ran for reelection.
				
				h4 8. Create a decision-making process so that routine matters don’t reach you. 
		
				figure.right
					img(src='http://millercenter.org/images/potus/nelson-5_lesson8_Cheney.jpg' title='White House Photograph Courtesy Gerald R. Ford Library.')
					figcaption
						p President Gerald Ford (center) talks with Donald Rumsfeld (left) and Dick Cheney (right) in the Oval Office in 1975. 
		
				p Every decision that lands on the president’s desk should be one that only the president can make or actively wants to make. If the process for making other decisions is clear and fair, they can be safely delegated to the president’s team.
		
				p Stuart Eizenstat, domestic policy advisor to President Carter, 1977-1981: 
				blockquote People knew that Carter was insisting on making every last decision. And so, if that’s the case ... take everything to him. What should have happened is the president should have said, Look, here is the [Presidential Review Memorandum]. You’ve given me the basic issues, here are my decisions, now you go and settle it ... and don’t come back to see me.”
		
				p Richard Cheney, chief of staff to President Gerald R. Ford, 1975-1977: 
				blockquote If you don’t trust the process, you’re going to start looking for ways around it. ... All of a sudden you have people freelancing, trying to get around the decision-making process because they feel the process lacks integrity. So it’s very, very important when you set up the shop to make certain that you have a guaranteed flow—you know what’s going in; you know what’s coming out. You know when it goes in that it’s complete, that everybody’s got their shot at the decision memo. You know if there’s going to be a meeting, the right people are going to be in the meeting, that the president has a chance to listen to all of that and then make a decision. <sup><a href="#_edn3" name="_ednref3" title="Quoted in Martha Joynt Kumar and Terry Sullivan, eds., The White House World: Transitions, Organizations, and Office Operations College Station: Texas A &amp; M University Press, 2003), 20.">3</a></sup>
		
				p Contrary to lore, Carter did not stay up late assigning playing times on the White House tennis court. But he did go over the massive federal budget line by line. Focusing on the forest, while allowing trusted OMB officials and White House staff members to tend to each individual tree, would have served him better in persuading Congress to pass a budget that reflected his policy priorities. 
				
				h4 9. Don’t assume you’re obligated to fight your predecessor’s battles. 
		
				p Everyone in Washington who is unhappy with a decision made in the years before the new president takes office will want to re-litigate it. The first year should not be—and as Brent Scowcroft indicates, need not be—filled with leftover issues. Working closely with Secretary of State James Baker, Scowcroft moved quickly to negotiate an agreement with Democratic congressional leaders that settled what had been a longstanding and contentious inter-branch fight over U.S. policy toward Nicaragua during the Reagan administration.
		
				p Brent Scowcroft, national security advisor to President George H.W. Bush, 1989-1993: 
				blockquote At the outset of the [Bush] administration, Central America loomed large. It had been a major preoccupation of the Reagan administration. I thought excessively so ... in this constant confrontation with the Congress [over policy toward Nicaragua]. It was not producing results, it was embittering everything, and nothing was getting done. I thought we ought to change that. I thought we ought to go up and try to co-opt the Congress. And Baker, interestingly enough, the first time we talked about Central America, said the same thing. So that’s what we tried to do. 
		
				p Scowcroft served in an administration led by a president of the same party as his immediate predecessor. But even a change in partisan control of the White House can leave the new president with policies inherited from the congressional party. “We were absolutely deluged” with “pet legislation” from congressional Democrats when Jimmy Carter succeeded Republican president Gerald Ford in 1977, says Carter’s legislative liaison, Frank Moore. As a result, “we overloaded the circuits.”
		
				h4 10. Foreign policy <em>is</em> domestic policy.
		
				figure.right
					img(src='http://millercenter.org/images/potus/nelson-6_lesson10_christopher.jpg' title='Credit: Miller Center')
					figcaption
						p During his oral history interview, former Secretary of State Warren Christopher stressed the credibility that President Clinton established internationally during the budget battles with Congress in 1993.

				p No matter the nature of the domestic and economic issues that may dominate the first year, world leaders will be taking the new president’s measure based on how they are handled.	
		
				p Warren Christopher, secretary of state to President Clinton, 1993-1997: 
				blockquote It’s hard to overestimate the degree of credibility the president gained internationally by taking steps to balance the budget [in 1993], and I think he owed that to both his own determination but the presence of [Secretary of the Treasury] Lloyd Bentsen and [National Economic Council Chairman] Bob Rubin and [Office of Management and Budget Director] Leon Panetta steeled him to make that very difficult decision and changed the whole course of the administration, I think, and put it on a much sounder track.
		
				p Some senior foreign leaders were initially inclined to regard Clinton, whose pre-presidential experience was as governor of a small southern state, as an unimpressive statesman, especially compared with his globally surefooted predecessor, George H.W. Bush. Clinton’s early resolve in the first-year budget battle caused these leaders to reassess him and, eventually, change their minds.
		
		
		.row#author-bio
			.small-12.columns
	
				.author 
					.author-contact 
						a(href="http://twitter.com/miller_center") @miller_center
					p 
						strong About the Author
					p John Doe is lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique molestie massa, eu faucibus turpis hendrerit sed. Aliquam porttitor venenatis viverra. Nunc quis ante consequat, aliquam nunc in, elementum enim. Morbi tristique sodales ultricies. Curabitur porttitor aliquet est non hendrerit. Curabitur non justo dui. Vivamus ullamcorper massa ut arcu eleifend, id tempor sapien convallis. Quisque pulvinar libero nec mattis euismod. Proin vel mi ac nibh mattis commodo. 
						a.more(href="") more
			
				#supplementary-content
					#footnotes 
						strong Footnotes
						ol
							li#_edn1 Unless otherwise indicated, the quotations in this chapter are from the Miller Center&rsquo;s Presidential Oral History Program. The interviews are available online at <a href="http://millercenter.org/oralhistory">http://millercenter.org/oralhistory</a>. <a href="#_ednref1">↑</a>
							li#_edn2 Quoted in Martha Joynt Kumar and Terry Sullivan, eds., <em>The White House World: Transitions, Organizations, and Office Operations </em>College Station: Texas A &amp; M University Press, 2003), 20. <a href="#_ednref2">↑</a>
							li#_edn3  Ibid., 10. <a href="#_ednref3">↑</a>

		include ./sidebar.jade

		include ./footer.jade

		script(src="#{project_home}/bower_components/foundation/js/vendor/jquery.js")
		//- remove http protocol from production version
		script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.topbar.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.interchange.js")
		script(src="#{project_home}/bower_components/slick-carousel/slick/slick.min.js")
		//- script(src="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js")
		script(src="#{project_home}/js/first-year.js")
		script(src="#{project_home}/js/essay.js")
		//- first-year.js initializes Foundation