doctype html
- var title = "The First Year Project"
- var issue = "The Crucible Year"
- var essay = "What Time Is It?"
- var project_home = ".."
html(lang="en")
	head
		meta(charset="utf-8")
		title #{title}
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=yes")
		link(rel="stylesheet", href="#{project_home}/css/first-year.css")
		link(rel="stylesheet", href="#{project_home}/css/home.css")
		link(rel="stylesheet", href="#{project_home}/css/teaser.css")
		link(rel="icon", type="image/png", href="#{project_home}/images/favicon.ico")
		link(href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic&7CCrimson+Text:400,700,600',rel="stylesheet", type="text/css")
		//- adding Slick Carousel
		//- link(rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick.css")
		//- link(rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick-theme.css")
		//- line(rel="stylesheet",type="text/css",href="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css")
	
	body

		
		//- topbar nav
		.sticky.contain-to-grid#navigation-container
			nav.top-bar(data-topbar,role="navigation",data-options="sticky_on: large")
				section.logo-section
					a(href="#") 
						h1 <b>First Year</b> 2017

 

		section.hero
			.row.hero-title
				.small-centered.medium-uncentered.small-12.columns#hero-title
					h2 Coming in October: Issue 1
					span.stars &#x2605; &#x2605; &#x2605;
					h1.main-title The Next President’s Crucible Year
					p Six essays about the promises and pitfalls of the first 365 days in office.

				//- .small-centered.medium-uncentered.medium-6.large-5.columns
				//-	 .tech-img

			.intro-nav#learnabout
				.small-6.small-centered.columns
					span
						a(href="#about") Learn about First Year 2017

			div#teasertext
				.small-12.small-centered
					p On October 15, the Miller Center will launch a new, multi-year initiative to guide the next administration during its critical first year. 

		div#videotrailer <iframe width="500" height="281" src="https://www.youtube.com/embed/OeWJXcgiYCo" frameborder="0" allowfullscreen></iframe>


		.small-10.small-centered.columns
			p#about &ldquo;You&rsquo;ve got to give it all you can that first year. Doesn&rsquo;t matter what kind of majority you come in with. You&rsquo;ve got just one year when they treat you right, and before they start worrying about themselves. &mldr;So, you&rsquo;ve got one year.&rdquo; 
				span - Lyndon B. Johnson, January 1965


		div#innercontent

			p In October 2015, the Miller Center will launch a multi-year, non-partisan effort to: 
			ul
				li Examine the <strong>history</strong> and structure of presidential First Years;
				li Assess the <strong>policy</strong> opportunities and threats for our next President; and
				li <strong>Impact</strong> the national debate by addressing candidates, opinion leaders, and the public.
		
			h3 Why the First Year?
			p Political polarization has made it harder and harder for Washington to work effectively.  A new President&rsquo;s First Year in particular is high pressure, heated, and intense.  It is a trial and a test—quite literally, a crucible for a new administration.  And beyond our shores, the world takes measure of our new leaders, targeting our vulnerability as we transition. 
			p Yet, First Years also offer opportunities.  Presidents can set priorities and enact great achievements – whether renewing America&rsquo;s promise at home or making historic breakthroughs on the world stage.  All newly elected Presidents rightly claim some electoral mandate, which they will use to confirm a cabinet and advance a legislative agenda.  Congress – at least at first – cannot appear to obstruct the newly elected leader.  
			p Still, even when controlled by the new President&rsquo;s party, Congress works on its own timetable -- not just on legislation, but also when it comes to vetting and confirming senior officials.  And after the President&rsquo;s first year, Congressional attention turns to mid-term elections that November.  Presidents thus have a short-term window of opportunity.
			p How the next President and Congress use their First Year will test our political system.
		
			h3 Achieving Impact: Issues, Outreach and Action
			p Starting in October 2015, every two months the Miller Center will release a set of short memos, on a wide range of policy and institutional topics:
			ul
				li Why the First Year Matters
				li National Security and Foreign Policy
				li Global Economy, Trade, and Competitiveness
				li Fiscal, Tax and Finances
				li Opportunity and Mobility
				li Race, Immigration, Citizenship
				li Infrastructure
				li Science, Technology and Values&nbsp;
				li Broken Government
				li Presidential Communications
		
			p This project begins with world-class research and scholarship from Miller Center, the University of Virginia, leading scholars at top research institutions, as well as senior practitioners. The project will look through both historical and contemporary lenses.
			p <strong><em>Lessons of history. </em></strong>Memos and essays will look back on the first year in office of presidents throughout history, focusing on successful and unsuccessful efforts to combine policy, politics, and personnel. In particular, scholars will draw from the Miller Center Oral History and Presidential Recordings programs – unique archives charting the presidency over six decades.
			p <strong><em>Contemporary challenges. </em></strong>Memos also will draw on contemporary research to focus the next President on priorities for her or his First Year.  This research will mobilize the full range of Miller Center scholars, faculty from across the University of Virginia, as well as from partner universities and organizations.  It will engage senior alumni from Democratic and Republican administrations, and will be rigorously non-partisan, emphasizing options available to the next president, regardless of party. 
			p <strong><em>Reaching the next administration: </em></strong>The Miller Center will also to bring this work directly to the next president and his or her team. The Miller Center will remain active on each issue through the First Year, until mid-2018.  We will seek the most propitious opportunities to connect with the presidential candidates, the new administration, and other target audiences in each issue area. That includes policymakers, media, private sector leaders, and most importantly, leading officials from contestants of both parties.  The Center is particularly well connected to the alumni networks of previous administrations, thanks largely to our Oral History program (which has worked with every administration since the Gerald Ford White House.) We will deliver The First Year&rsquo;s canon of work to our audiences in a targeted and impactful way through various channels:<strong></strong>
			p <strong><em>Events.</em></strong> The memos will be released at major events held at the Miller Center and across the country.   Events will begin in October 2015 and extend through 2016 and 2017.

			hr

			p#contribute
				a(href="http://millercenter.org/donate") <strong>Click here to support the First Year Project with a donation. </strong>
				| If you’d like to talk to someone about contributing to the First Year Project, 
				a(href="mailto:dft6n@eservices.virginia.edu?subject=Please contact me about supporting the First Year Project") click here to contact the Miller Center Foundation
				| .

			hr
			
			div#emailsignup Sign up for the latest from The First Year Project
				div#mailglyph 
					a(href="http://forms.hoosonline.virginia.edu/s/1535/16-uva/index.aspx?sid=1535&gid=16&pgid=9982&cid=17637" target="_blank") &nbsp;
			
			div#socialshare Share this page: 
				ul
					li#header-fb-icon: a(href="#") &nbsp;
					//- img(src="images/icons/lg/facebook-wht.png")
					li#header-tw-icon: a(href="#") &nbsp;    



footer#bodyFooter.footer
	.row
		img(src="http://staticmc.org/images/template/logo-white.png")
		p The Miller Center is a nonpartisan affiliate of the University of Virginia that specializes in presidential scholarship, public policy, and political history and strives to apply the lessons of history to the nation’s most pressing contemporary governance challenges. 
			a(href="http://millercenter.org") Learn more at millercenter.org.



		script(src="#{project_home}/bower_components/foundation/js/vendor/jquery.js")
		//- remove http protocol from production version
		script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.topbar.js")
		script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.interchange.js")
		script(src="#{project_home}/bower_components/slick-carousel/slick/slick.min.js")
		//- script(src="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js")
		script(src="#{project_home}/js/first-year.js")
		//- first-year.js initializes Foundation
		script(src="#{project_home}/js/home.js")
