doctype html
- var title = "The First Year Project"
- var issue = "The Crucible Year"
- var essay = "What Time Is It?"
- var project_home = ".."
html(lang="en")
  head
    meta(charset="utf-8")
    title #{title}
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=yes")
    link(rel="stylesheet", href="#{project_home}/css/first-year.css")
    link(rel="stylesheet", href="#{project_home}/css/home.css")
    link(rel="stylesheet", href="#{project_home}/css/teaser.css")
    link(rel="icon", type="image/png", href="#{project_home}/images/favicon.ico")
    //- adding Slick Carousel
    //- link(rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick.css")
    //- link(rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick-theme.css")
    //- line(rel="stylesheet",type="text/css",href="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css")
  
  body

    
    //- topbar nav
    .sticky.contain-to-grid#navigation-container
      nav.top-bar(data-topbar,role="navigation",data-options="sticky_on: large")
        section.logo-section
          a(href="#") 
            h1 <b>First Year</b> 2017
            h4 Where successful administrations begin
        section.top-bar-section.social-section 
          //  Right Nav Section 
          ul.right
            li.menu-option#header-fb-icon: a(href="#")
              | &nbsp;
              //- img(src="images/icons/lg/facebook-wht.png")
            li.menu-option#header-tw-icon: a(href="#") 
              | &nbsp;
            li.menu-option.has-dropdown#header-menu-icon
              a(href="#")
                span.label Menu
                  span
              ul.dropdown
                li
                  a(href="#") First link in dropdown
                li.featured
                  a(href="#") Featured link in dropdown
                li
                  a(href="#") Third link in dropdown
                li
                  a(href="#") Fourth link in dropdown

 

    section.hero
      .row.hero-title
        .small-centered.medium-uncentered.small-12.columns#hero-title
          h2 Issue 1
          span.stars &#x2605; &#x2605; &#x2605;
          h1.main-title The Next President's #[br ] Crucible Year
          p  Six essays about the promises and pitfalls of the first 365 days in office.
        //- .small-centered.medium-uncentered.medium-6.large-5.columns
        //-   .tech-img

      .intro-nav
        .small-6.small-centered.columns
          span Explore the essays
          span Learn about First Year 2017

      ul.header-subnav#nav-tabs
        li.tab
          .tab-entry.is-active
            a(href="") Issue 1
            p The Next President's Crucible Year
        li.tab
          .tab-entry
            a(href="") Issue 2
            p Coming in December: National Security
        li.tab
          .tab-entry
            a(href="") Issue 3
            p Coming January 2016
        li.tab
          .tab-entry
            a(href="") More →
            p &nbsp;


    .row
      .small-6.medium-4.large-2.columns
        h1 1
      .small-6.medium-4.large-2.columns
        h1 2
      .small-6.medium-4.large-2.columns
        h1 3
      .small-6.medium-4.large-2.columns
        h1 4
      .small-6.medium-4.large-2.columns
        h1 5
      .small-6.medium-4.large-2.columns
        h1 6

    p [First Year Logo]
      p
        em &ldquo;You&rsquo;ve got to give it all you can that first year.  Doesn&rsquo;t matter what kind of majority you come in with.  You&rsquo;ve got just one year when they treat you right, and before they start worrying about themselves. &mldr;So, you&rsquo;ve got one year.&rdquo;
          span - Lyndon B. Johnson, January 1965
        p [Video]
        p [Interested in contributing to the First Year Project? Click to contact .... trout. ]
        p On October 15, the Miller Center will launch The First Year: POTUS 2017, a new, multi-year initiative that will generate leading-edge scholarship and non-partisan policy recommendations to guide the next administration during its critical first year.  Click here to read more about the First Year project. (link to text below)
        hr
        p In October 2015, the Miller Center will launch a multi-year, non-partisan effort to:
        ul
          li Examine the <strong> history</strong> and structure of presidential First Years; &#x9;&#x9;
          li Assess the <strong> policy</strong> opportunities and threats for our next President; and &#x9;&#x9;
          li <strong> Impact</strong> the national debate by addressing candidates, opinion leaders, and the public.
        p
          strong Why the First Year?
        p
           Political polarization has made it harder and harder for Washington to work effectively.  A new President&rsquo;s First Year in particular is high pressure, heated, and intense.  It is a trial and a test&mdash;quite literally, a crucible for a new administration.  And beyond our shores, the world takes measure of our new leaders, targeting our vulnerability as we transition.
        p
           Yet, First Years also offer opportunities.  Presidents can set priorities and enact great achievements&mdash;whether renewing America&rsquo;s promise at home or making historic breakthroughs on the world stage.  All newly elected Presidents rightly claim some electoral mandate, which they will use to confirm a cabinet and advance a legislative agenda.  Congress&mdash;at least at first&mdash;cannot appear to obstruct the newly elected leader.
        p
           Still, even when controlled by the new President&rsquo;s party, Congress works on its own timetable not just on legislation, but also when it comes to vetting and confirming senior officials.  And after the President&rsquo;s first year, Congressional attention turns to mid-term elections that November.  Presidents thus have a short-term window of opportunity.
        p
           How the next President and Congress use their First Year will test our political system.
        p
          strong Achieving Impact: Issues, Outreach and Action
        p
           Starting in October 2015, every two months the Miller Center will release a set of short memos, on a wide range of policy and institutional topics:
        ul
          li First Year: The Next President&rsquo;s Crucible Year
           &#x9;&#x9;
          li National Security: American Power and World Order
           &#x9;&#x9;
          li Fiscal Policy: The Critical First Budget
           &#x9;&#x9;
          li Mobility: Securing the Runaway American Dream
           &#x9;&#x9;
          li Social Policy: The Rights and Obligations of Citizenship
           &#x9;&#x9;
          li Science and Values: The Illimitable Freedom of the Human Mind
           &#x9;&#x9;
          li Broken Government: Navigating Dysfunction in the Window of Opportunity
           &#x9;&#x9;
          li The Bully Pulpit: Communications in the New Media Age
           &#x9;&#x9;
          li Global Economy: American Leadership or American Decline?
           &#x9;&#x9;
          li Infrastructure: Building a 21st Century America
        p
           This project will start with world-class research and scholarship from Miller Center, the University of Virginia, leading scholars at top research institutions, as well as senior practitioners. The project will look through both historical and contemporary lenses.
        p
          em
            strong Lessons of history.
            For each issue, at least two essays or memos will explicitly draw on the lessons of presidential history.  These memos will look back on the first year in office of presidents throughout history, focusing on successful and unsuccessful efforts to combine policy, politics, and personnel.  They will curate lessons from those experiences that can be applied to our next president.  In particular, Miller Center scholars in our Oral History and Presidential Recordings programs will draw from those unique archives.
        p
          strong
            em Contemporary challenges. 
           For each issue cluster, at least two additional memos will draw on contemporary research to focus the next President on priorities for her or his First Year.  This research will mobilize the full range  of Miller Center scholars, as well as scholarship driving the Center&rsquo;s endowed conferences. It also will seek collaboration with faculty from across the University, including the College, Law, Batten, Darden, Curry and Medicine, as well as from partner authors, universities and organizations.
        p
          strong
            em
               The Miller Center will also to bring this work directly to the next president and his or her administration.
           The Miller Center will remain active on each issue through the First Year, until mid-2018.  We will seek the most propitious opportunities to connect with the presidential candidates, the new administration, and other target audiences in each issue area. That includes policymakers, media, private sector leaders, and most importantly, leading officials from contestants of both parties.  We will deliver The First Year&rsquo;s canon of work to our audiences in a targeted and impactful way through various channels:
        p
          strong
            em Events.  
           The memos will be released at major events held at the Miller Center and across the country.   Events will begin in October 2015 and extend through 2016 and 2017.
        p
          strong
            em Personal outreach.
            The memos will also serve as a point of departure for subsequent activity in that issue cluster for the duration of the First Year project.  These will include action-oriented private meetings, and aggressive networking and direct contact with officials on presidential campaigns, think tanks, news media, and other influential voices across the primary season, general election season, transition, and first year in office.
        p
          strong
            em Digital dissemination. 
           This project will feature a newly launched free-standing website, which will feature elegant design and interactive features&mdash;as well as an integrated social media capacity.  This effort will preview a large-scale redesign of the Miller Center site, helping to raise the profile of our existing presidential research, analysis and commentary.
        p
           Together, this portfolio of public and private events, and new and existing projects, will enable us to develop a comprehensive, bipartisan set of recommendations&mdash;grounded in historical scholarship&mdash;for the next presidential administration.




    footer#bodyFooter.footer
      .row
        .small-6.large-4.columns
          ul
            li About
            li Contact
            li Home&nbsp;
              i.fi-home
        .small-6.large-4.columns
          ul
            li More
            li To
            li Click
        .small-6.large-4.columns
          ul
            li Put
            li Stuff
            li Here

    script(src="#{project_home}/bower_components/foundation/js/vendor/jquery.js")
    //- remove http protocol from production version
    script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.js")
    script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.topbar.js")
    script(src="#{project_home}/bower_components/foundation/js/foundation/foundation.interchange.js")
    script(src="#{project_home}/bower_components/slick-carousel/slick/slick.min.js")
    //- script(src="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js")
    script(src="#{project_home}/js/first-year.js")
    //- first-year.js initializes Foundation
    script(src="#{project_home}/js/home.js")
