doctype html
- var title = "The First Year Project"
- var issue = "The Crucible Year"
- var essay = "ESSAYTITLE"
- var project_home = ".."
html(lang="en")
	head
		meta(charset="utf-8")
		title #{title}
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=yes")
		link(rel="stylesheet", href="#{project_home}/css/first-year.css")
		link(rel="stylesheet", href="#{project_home}/css/essay.css")
		link(rel="icon", type="image/png", href="#{project_home}/images/favicon.ico")
		link(href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic&7CCrimson+Text:400,700,600',rel="stylesheet", type="text/css")
	
	body

	#essay
		h1 Letter to the New President on Your First Year

		p.essay-intro Congratulations on your impressive electoral victory. Now you are entering territory that can’t be charted. “The job is sui generis. The presidency is an act of faith," as Richard Reeves wrote in his 1993 book <em>President Kennedy: Profile of Power</em>. 

		figure.right
			img(src='http://millercenter.org/images/potus/wehner-1_para2_JFK_DDE-.jpg' title='Credit: Dwight D. Eisenhower Library')
			figcaption
				p President Dwight Eisenhower greets president-elect John F. Kennedy in December 1960. 

		p While there is no way for a new commander in chief to be fully prepared, you can steel yourself to expect the unexpected—and to expect that this challenge will be difficult beyond any that has come before. Some days in your tenure will be better than others, but no days are uncomplicated or effortless. As President Dwight D. Eisenhower told John F. Kennedy the day before the young senator was sworn in, "There are no easy matters that will ever come to you as president. If they are easy, they will be settled at a lower level."
		p You're about to discover that the problems were easier to solve when you ran for president than they are once you become president. You'll hear competing arguments that sound equally convincing. You'll be expected to make consequential decisions on incomplete information in a compressed period of time, decisions whose outcome may well be determined by contingencies you cannot anticipate. That's just one of the reasons why presidents often age visibly during their tenures. 
		p There is a great paradox at the heart of the presidency. It is, to be sure, the most powerful office in the world. But to assume events can be shaped like hot wax will set you up for an endless series of frustrations. To be psychologically prepared, you need to recognize from the outset that the constraints on your ability to shape events are far greater than you will have anticipated. 
		h3 Governing from a standing start

		figure.right
			img(src='http://millercenter.org/images/potus/wehner-2_para5_Reagan_Congress.jpg' title='Credit: Ronald Reagan Presidential Library')
			figcaption
				p President Reagan addresses Congress in 1981 during his first month in office. 

		p Historically, the first year has been the easiest year to fulfill the goals of your campaign. Members of Congress tend to be more deferential to new presidents in the first 12 months than at any other point. You'll want to take advantage of whatever good will there may be by having a very clear idea of what to pursue and the order in which to pursue it. Many other issues will vie for your attention, and many will deserve it. But you need to make it clear to Congress, and the country, what agenda items are <em>primus inter pares</em> (first among equals). This will require discipline from you and your aides. 
		p Political capital is limited. Use it wisely. If you do, the success you have will build on itself. If you don't, you'll be stunned at how quickly your power and influence can dissipate. President Jimmy Carter, for example, encountered significant setbacks in his first year that set the tone for his single term. The cornerstone of his legislative agenda, an energy bill, failed. He abruptly dropped support for a tax rebate after pressuring reluctant members of Congress to back it, infuriating many of them. So did his call to withdraw funds for water projects throughout the country. And his budget director and close friend, Bert Lance, was forced to resign over an ethics scandal. By the end of his first year, Carter was a wounded president, having experienced a dramatic loss in public support. 

		figure.left
			img(src='http://millercenter.org/images/potus/wehner-3_para7_Clinton.jpg' title='Credit: Joseph Sohm / Shutterstock.com')
			figcaption
				p Bill Clinton campaigned with a focus on the economy but in the early months of his presidency he lost control of his presidency as other issues gained attention.  

		p It is also important to govern in a way that aligns with how you campaigned. President Bill Clinton endured a rocky start to his administration because he felt he was "losing control of his presidency," in the words of his former aide George Stephanopoulos. Clinton ran as a New Democrat, focusing “like a laser beam” on the economy. Yet during his first months in office, he was seen as pursuing a liberal agenda (for example, gays in the military and a middle-class tax increase). The early months of his presidency were discordant with what people expected. I should quickly add, however, that unlike the Carter presidency, the Clinton presidency showed you can get off to a bad beginning and still correct course in plenty of time to win an easy reelection. 
		h3 The value of nimble governance

		figure.right
			img(src='VIDEO')
			figcaption
				p Video: Reagan and Air Traffic Controllers Strike (no caption?)

		p One of the least appreciated qualities in a successful president is nimbleness—the ability to assess circumstances and adjust to them. On one level, this skill will allow you to use unexpected moments to your advantage—for example, to signal resolve that leaves an impression on allies and adversaries. In the first year of Ronald Reagan's presidency, air traffic controllers went on strike. Reagan warned that he would fire them if they did. He was true to his word—and that action was noticed as far away as the halls of the Kremlin. According to the Reagan biographer Edmund Morris, “Former Soviet apparatchiks will tell you that it was not his famous 'evil empire' speech in 1983 that convinced them he meant strategic business, so much as photographs of the leader of the air traffic controllers union being taken to jail in 1981."
		p You will always want to seek to control events rather than to be at their mercy. But know, too, that sometimes "life is a theater of vicissitudes," as John Adams put it. You will have a narrative in mind, but events may well intervene. JFK faced unanticipated crises in Cuba and Berlin. George W. Bush's presidency was transformed by the attacks on September 11, 2001. Barack Obama inherited a titanic financial crisis that occurred just before the election. Don't lament what you can't control. Instead, adjust to crises. If at all possible, view them as opportunities. How you deal with them is likely to shape your legacy. 
		p When people run for the presidency, they tend to present the choices facing America in Manichean terms. Politics is often framed as a zero-sum game. Governing is different, and a good deal more complicated. "There are few things wholly evil or wholly good," Abraham Lincoln said. "Almost everything, especially of government policy, is an inseparable compound of the two, so that our best judgment of the preponderance between them is continually demanded." 

		figure.right
			img(src='http://millercenter.org/images/potus/wehner-5_para11_ThePeacemakers-.jpg' title='Credit: The White House Historical Association')
			figcaption
				p The 1868 painting by George P.A. Healy, The Peacemakers, recounts a meeting in 1865 between President Lincoln, Generals William Sherman and Ulysses Grant, and Rear Admiral David Dixon Porter to discuss strategy for the Civil War. 

		p What this means is that you need to staff your White House with people who not only share your philosophy but who also possess wisdom and prudence, the ability to apply principles to particular issues in particular circumstances. By all means utilize experts, but don't simply defer to them. The tendency toward deference will be particularly strong when it comes to the military. Recall that during the early phases of war, both Lincoln and George W. Bush relied on generals who were pursuing the wrong strategy. They kept looking until they found the right generals (Ulyssess S. Grant in the Civil War and David Petraeus in the Iraq War). Once they were in place, the tides turned. 
		h3 The mechanics of governing 
		p An important but overlooked first-year challenge is to gain control over the permanent bureaucracy that will carry out your policies—or not. Appointing effective cabinet members is one way to tighten your hold on the government. William J. Bennett was Reagan’s Secretary of Education. Using an analogy to explain the early days of his tenure, he said he gave orders, everyone saluted, and he turned the steering wheel of the ship (the Department of Education). But it kept going leeward, so he went below deck and found that the cables had been severed. In order to correct that, Bennett spent the early part of his tenure filling key posts with people who were committed to the Reagan agenda. 
		p Beyond that, seek out the top experts in America to help you create an accountable management system that will translate your policies into action. As University of Maryland Professor Donald F. Kettl has put it, "You need a chief operating officer, someone who can look after the details when you are busy with everything else and speak for you when management muscle is needed." Because I can promise you management muscle will be needed. This all may sound prosaic, but poor management can do tremendous damage to your presidency. Whether this requires a new position or merely designating someone with influence in the White House to oversee it is up to you. It can probably work either way. My point is that details matter. 

		figure.left
			img(src='http://millercenter.org/images/potus/wehner-6_para14_obamabriefing.jpg' title='Official White House Photo by Pete Souza')
			figcaption
				p President Barack Obama meets with advisers during the daily briefing in the Oval Office. 

		p When staffing your administration, you will naturally want to reward political loyalty. There's a place for that. But in the key posts you need people who were chosen above all for their excellence. By this I mean their intelligence, wisdom, and character, in addition to their qualifications and proven performance. Nixon, in selecting his initial cabinet, stressed the youth of his nominees. No one cared. You will be judged on results, and good results are the product of high competence. Everything else—political loyalty, years of service, years of friendship, who they know—needs to be subordinate.
		p James Baker was a superlative chief of staff for Reagan, yet Baker was originally a George H.W. Bush loyalist. Reagan showed he was willing to hire someone outside his inner circle to serve in a key post, and his presidency was better for it. Clinton hired his lifelong friend Thomas “Mack” McLarty to be his first chief of staff. While a talented man, McLarty didn’t bring to the job the order and discipline needed to complement Clinton. Leon Panetta, who replaced him in 1994, proved to be a much better fit.
		p You're going to want to guard against becoming dependent on or confined to a small group of advisors or experts, and to make sure people in whom you have confidence are present at key meetings and moments. If chokeholds develop, open things up. Your aides should understand that their job is to bring difficult decisions to you, not to protect you from them. There is a tendency among those who work for presidents to avoid arguments in front of you; to try to force a consensus in order to present a unified front. Make it clear that you're not afraid to hear vigorous debate; in fact, you welcome it. The message needs to go out to your senior advisors: If a genuine consensus doesn't exist, don't pretend that it does. 
		p "The president wants to make decisions himself, not to preside over decisions made by staff," noted William Safire, an aide to President Richard Nixon. After the Bay of Pigs fiasco, according to the historian Arthur Schlesinger Jr., Kennedy learned to “make greater use of generalists in whom he had personal confidence and remake every decision in his own terms."
		p You need people in your orbit who will challenge both your assumptions and your administration’s group think, who will cross-examine what you're being told. It was said of Richard Helms, CIA director under Nixon, that he never hesitated to warn the White House of dangers even when his views ran counter to the preconceptions of the president or of his security advisor. His advice was often heeded.
		h3 When mistakes are made
		p Learn from your predecessors’ missteps, but don't overlearn from them. There's a natural tendency to want to distance yourself from your immediate predecessor, especially if he was a member of the other party. That's understandable; you want to establish your own identity. But you'll also discover that smart people preceded you. Some of what they did was actually right. So a sharp critique of your predecessor should not trap you into reflexively rejecting previous policies. 

		// figure.right
			img(src='http://millercenter.org/images/potus/wehner-7_para20_sun.jpg' title='Peshkova / Shutterstock.com')
			figcaption
				p Supreme Court Justice Louis Brandeis said, “Sunlight is said to be the best of disinfectants.” 

		.pullquote.text-center “Sunlight is said to be the best of disinfectants.”

		p Learn from your own mistakes. You'll make them—and when you do, there will be tremendous internal pressure to downplay, ignore or conceal them. Don't. "Sunlight is said to be the best of disinfectants," Supreme Court Justice Louis Brandeis said. If you figure out what went wrong in the past, you're less likely to make a similar mistake in the future. The lessons he learned from the Bay of Pigs fiasco helped prepare Kennedy to succeed during the Cuban Missile Crisis. 
		p Beware of advisors who, when a policy is perceived to be failing, tell you that you have a "communications problem." You might in fact have a real problem that creates a public relations problem. While serving in the White House, during a meeting about the Iraq war when things were going quite badly, it was said by one advisor that we had a "communications problem" and we needed a series of speeches to correct for it. I replied, "We don't have a communications problem. We have a facts-on-the-ground problem." Correcting the facts-on-the-ground problem will go a long way toward correcting your communications problem. 

		figure.right
			img(src='http://millercenter.org/images/potus/wehner-8_para22_Bush-.jpg' title='White House Photo by Paul Morse')
			figcaption
				p President George W. Bush meets with leaders of Western African countries in 2008. His global AIDS and malaria initiative helped to save millions of lives in Africa. 

		p Every time your staff raises a problem, ask for a solution. Encourage a habit of mind in your senior aides that looks for answers and that is constantly and carefully thinking through the response to the question: "What can we do to make things better?" And surround yourself with people who can think boldly, who are good at creating opportunities that others don't see. George W. Bush's global AIDS and malaria initiative was a great moral achievement. There were aides who wanted to spend a fraction of what he eventually did. The president rejected their counsel and as a result, more than a million lives were saved. 
		p Even though it may seem as if there’s no time to examine new ideas, keep the creative input flowing. "The convictions that leaders have formed before reaching high office are the intellectual capital they will consume as long as they continue in office," Henry Kissinger has observed. "There is little time for leaders to reflect." That is often the case, but you can fight it. You have the best minds in the world at your disposal—historians, scholars, public intellectuals, philosophers, theologians and scientists. Make use of them. Set aside time in your schedule to think carefully and deeply on fundamental questions. Replenish your intellectual capital and use your experiences to refine your pre-existing views. You can leave the presidency knowing a lot more than when you began it. 
		h3 Bringing the country along with you
		p As president, your capacity to shape public opinion is considerable, while your capacity to change public opinion is less than you may think. Presidential scholars like George C. Edwards III have shown that the essence of successful presidential leadership is recognizing and exploiting existing opportunities, not in creating them through persuasion. Edwards makes a strong case that to avoid overreaching, presidents should be alert to the limitations of their power to persuade and rigorously assess the possibilities for obtaining public and congressional support in their environments.
		p Be prepared to change your mind when the facts warrant doing so—and be prepared to tell the American people you have. Most of them will accept it if you explain to them, in an honest and candid way, why you have, and what you may have gotten wrong. Keep in mind this broader point: The public will judge you on outcomes far more than they will on process. They want you to get decisions right, even if getting it right requires you to change your previous views. Nixon was known as a fierce anti-communist before he was elected. As president, he opened the door to communist China, which ranks among his greatest achievements. 
		p You have an obligation to lead, but be careful that you don't force the pace beyond what circumstances allow. "A statesman who too far outruns the experience of his people will fail in achieving domestic consensus, however wise his policies," Kissinger wrote in his dissertation. Be careful as well about overpromising. Safire warned that the politicians who promise the rain are held responsible for the drought. And droughts will come. 

		figure.left
			img(src='http://millercenter.org/images/potus/wehner-9_para27_pressconf.jpg' title='Trinacria Photo / Shutterstock.com')
			figcaption
				p Hillary Clinton talks at a press conference. Presidents should rely on the press to act as an outside check on their administrations. 

		p Some journalists may well give you the benefit of the doubt in the early days of your presidency, which will be helpful as you seek to shape public opinion. But many reporters will soon turn skeptical or hostile. When you know the inside story, you'll realize how much of what is reported is incomplete, misleading or outright false. You and your aides will be frustrated and even angry. But don’t let yourself or your team view the press as the enemy. It feeds an attitude of paranoia that can imperil a presidency. 
		p Watergate had its roots in the sense of being under siege and an “us-versus-them” mentality that existed in the Nixon White House. Charles Colson, who was a senior political advisor to Nixon, said about “the plumbers,” a special group created to stop leaks to the press: “They began to take extra-legal steps and put into motion the mechanism which ultimately resulted in the downfall of the administration.” 

		.pullquote.text-center There's a tremendous temptation in the White House to dismiss criticisms automatically as ill-informed and unfair. Before you dismiss your critics, hear them out.

		p Don't tolerate people in your administration who mislead the press. In doing so, they are misleading the American people. I’d even suggest that you embrace the press as an outside check on your administration. There's a tremendous temptation in the White House to dismiss criticisms automatically as ill-informed and unfair. Before you dismiss your critics, hear them out. 
		h3 The importance of cultivating Congress
		p Beyond the press and the public, your administration will have to tend to Congress. Make sure your legislative affairs shop is attentive to members in both parties, right from the start. The White House needs to show appropriate courtesy and deference toward the Hill—including, occasionally, directly from you. Treat legislators well even when they disagree with you. You may not have their votes now, but you may need them in the future. The historian Douglas Brinkley said of Carter, “Often he wouldn't return phone calls of leading senators. There was a kind of an abrasive attitude he had towards them. He never showed them the respect. So they all eventually got bitter and turned on him.” 

		figure.right
			img(src='http://millercenter.org/images/potus/wehner-10_para32_Obamasp.jpg' title='U.S. Air Force photo by Staff Sgt. Sara Keller')
			figcaption
				p Presidents should work to sway public opinion through speeches that educate and inform the public. 

		p We live in an unusually polarized time, with both parties more ideological than has been historically the case. This makes working with Congress more challenging than in the past, but certainly not impossible.  President Lyndon B. Johnson is a good model in this respect. A quarter-century veteran of Congress himself, he was immersed and totally conversant in its ways, and never lost focus on its importance to his administration.  Sherwin Markman, who served as special assistant to Johnson, wrote that the special relationship between Johnson and Congress was “the core genius” of the Johnson presidency. 
		p How best to bring Congress and public opinion to your side? Speeches that do more to educate, rather than rally, will work to your advantage. Explain the various options you've considered and how you arrived at your decision. The public will appreciate it and may even be enlightened. George W. Bush's first nationally televised speech was to announce his policy on stem-cell research. He laid out the competing arguments in an even-handed way and the audience didn't know his position until the end. All speeches can't follow that model—but more can than typically do. 
		p It won't always be easy, but try to retain a relatively charitable view of your political adversaries. "Remember, we have no enemies, only opponents," former Indiana Governor Mitch Daniels, who worked as a political aide to Reagan, quotes him as admonishing his staff. Keep in mind, above all, that you're the one person in public life who was elected to represent the entire nation. There will be a temptation to take the low road now and then. Resist it. Appeal to the better, not the darker, impulses of the American people. There is honor in doing so.  
		



	
	.author 
		.author-contact 
			a(href="http://twitter.com/miller_center") @miller_center
		p 
			strong About the Author
		p John Doe is lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique molestie massa, eu faucibus turpis hendrerit sed. Aliquam porttitor venenatis viverra. Nunc quis ante consequat, aliquam nunc in, elementum enim. Morbi tristique sodales ultricies. Curabitur porttitor aliquet est non hendrerit. Curabitur non justo dui. Vivamus ullamcorper massa ut arcu eleifend, id tempor sapien convallis. Quisque pulvinar libero nec mattis euismod. Proin vel mi ac nibh mattis commodo. 
			a.more(href="") more


footer